<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Express + Browserify.</title>
</head>
<body>
Browserify!
<div id="main"></div>

<script src="app.js"></script>
</body>
</html>
